@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins";
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  /* background-color: #999999; */
  padding: 32px;
}

.div-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  width: 60%;
  border-radius: 14px;
  input,
  label,
  button {
    font-family: "Poppins";
  }
  button {
    text-align: left;
  }
  .div-container-forgot {
    width: 50%;
  }
}

.image-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-register-container {
  width: 50%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hyper-button {
  background-color: #fff;
  border: none;
}

 .main-heading-form {
  font-family: "Poppins" !important;
  font-weight:400;
}

.back-button-container {
  padding: 32px;
}

.back-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;
}
.icon-back {
  margin-right: 4px;
}

.div-container-forgot {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 60%;
  border-radius: 14px;
}
.forgot-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 32px;
  width: 100%;
  form {
    width: 80%;
  }
}

.oval-loader {
  height: 20px;
  width: 20px;
  background-color: transparent;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .div-container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .div-container-forgot{
      width: 100%;
    }
  }
  .image-container {
    width: 100%;
  }
  .login-register-container {
    width: 100%;
  }
  .div-container-forgot {
    width: 100%;
  }
  .forgot-container {
    padding: 8px;
  }
  .back-button-container {
    padding: 8px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .div-container {
    width: 90%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .div-container-forgot{
      width: 100%;
    }
  }
  .image-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image-login-register {
    width: 80% !important;
  }
  .login-register-container {
    width: 100%;
  }
  .div-container-forgot {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .image-container {
    width: 60%;
  }
  .div-container {
    width: 90%;
  }
  .forgot-container {
    padding: 22px;
  }
  .back-button-container {
    padding: 22px;
  }
  .div-container-forgot {
    width: 90%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1999px) {
  .div-container {
    width: 80%;
  }
  .div-container-forgot {
    width: 80%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
